* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
}
.main{
    background-color: blue;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:rgba(0, 0, 0, 0.726);
    color: white;
    justify-content: space-between;
    position: fixed;
    padding: 5px 5px 5px 4px;
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
nav .nav-bar{
    display: flex;
    padding: 0 10px 0 10px;
    margin-right: 20px;
    margin-top: 0;
    width: 720px;
    align-items: center;
    text-align: center;
    
}
nav .realm{

overflow: hidden;
width: 120px;
margin-top: 0;
padding-right: 5px;
text-align: center;
color: rgb(107, 105, 105);
border-radius: 5%;
}
nav .nav-link, a {
    margin: 0 5px 0 5px;
    font-size: 15px;
}
nav a:hover {
    color: rgb(255, 0, 0);
}
span a:hover {
    color: rgb(255, 0, 0);
}
.introduction{
    text-align: center;
    padding: 10px;
    margin-top: 70px;
    height: 100vh;
    background-color: rgb(66, 73, 66);
    align-items: center;
 
    
    
}
.introduction h1,
p,
span {
    margin-top: 15px;
    display: block;
}
.intrest-button{
    background-color: rgba(0, 0, 0, 0.808);
    width: 130px;
    align-items: center;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 56px;
    border-radius: solid 3px  rgb(211, 1, 1);
    position: relative;
    left: 44%;
    

    
}
.sammy{
    height: 430px;
    width: 700px;
    opacity: 5%;
}
h1 p{
    color: rgb(167, 147, 147);
}
h1{
    text-align: center;
    background-color: black;
}
.segment {
    background-color: rgb(26, 25, 25);
    border-top:4px solid whitesmoke ;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: auto;}

.segment span{
    width: 100%;
    margin: 0px;
    background-color: black;
    width: 455px;
    height: 300px;
    padding: 100px;
    margin: 50px 100px 50px 100px;
}

footer{
    box-sizing: border-box;
    text-align: center;
    background-color:  rgb(14, 13, 13) ;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    margin: auto;
    padding: 5px 5px 5px 10px;

}

.image {
    width: 500px;
    height: 400px;
    margin: 3px;
    padding: auto;
    
}

nav span{
    height: inherit;
    padding: inherit;
    width: 35%;  
}
div .notes{
    margin: 40px;
    padding: 40px;
    background-color: rgba(188, 228, 206, 0.411);
}
div .intro{
    margin: 40px;
    padding: 50px;
    height: 350px;
}
div .two-boxes{
 background-color:rgba(6, 31, 6, 0.788);
 margin-left: -35px;
 border-right: 2px green solid;
 border-top: 5px green solid;
 text-align: justify;
 padding-bottom: 90px;
 
 
}
div .two-boxes > h1 {
    background-color: rgb(4, 170, 32);
    color: rgb(54, 54, 54);
    position: relative;
    top: -33px;
}
div .two-boxes > p {
    position: relative;
    top: -33px;
}
p {
    color: rgb(117, 115, 115);
}
    


